<div class="section1">
	<mat-toolbar id="header">
		
			
		
		<div class="ovVersion">
			
		</div>
	</mat-toolbar>
	<div class="container">
		<div class="ovInfo">
			<img class="ovLogo" alt="Teemulan Videotapaaminen" src="https://hybridmedia.fi/materiaalia/teemula/teemula.png" />
			<h4>Videotapaaminen</h4>
		</div>
		<div class="formContainer">
			<div class="roomError" id="requiredNameError" *ngIf="roomForm.hasError('required')">
				Kirjoita tapaamisen nimi
			</div>
			<div class="roomError" id="shortNameError" *ngIf="roomForm.hasError('minlength')">
				Tapaamisen nimi on liian lyhyt
			</div>
			<form [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">
				<div class="joinForm">
					<input matInput class="inputForm" type="text" [formControl]="roomForm"  autocomplete="off" id="roomInput" />
					<button type="submit" class="joinButtonOne" id="joinButtonOne" >ALOITA</button>
				</div>
			</form>
		</div>
	</div>


	<mat-toolbar class="footer">
		<span>
			Get your own hybrid meeting:
			<a
				rel="noopener noreferrer"
				target="_blank"
				href="https://hybridmedia.fi"
			>
				Hybrid Media Oy
			</a>
			</span
		>
	</mat-toolbar>
</div>
