<div class="section1">
	<mat-toolbar id="header">
		<a href="https://hybridmedia.fi/" target="_blank">
			<img id="header_img" alt="OpenVidu Logo" src="assets/images/openvidu_logo.png" />
		</a>
		<div class="ovVersion">
			<span>{{ version }}</span>
		</div>
	</mat-toolbar>
	<div class="container">
		<div class="ovInfo">
			<img class="ovLogo" alt="OpenVidu Logo" src="assets/images/openvidu_vert_white_bg_trans_cropped.png" />
			<h1>Videotapaaminen</h1>
			<h4>Realiaikanen. Yksinkertaisesti toimiva. Paina vain Aloita.</h4>
		</div>
		<div class="formContainer">
			<div class="roomError" id="requiredNameError" *ngIf="roomForm.hasError('required')">
				Kirjoita tapaamisen nimi
			</div>
			<div class="roomError" id="shortNameError" *ngIf="roomForm.hasError('minlength')">
				Tapaamisen nimi on liian lyhyt
			</div>
			<form [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">
				<div class="joinForm">
					<input matInput class="inputForm" type="text" [formControl]="roomForm"  autocomplete="off" id="roomInput" />
					<button type="submit" class="joinButton" id="joinButton" >ALOITA</button>
				</div>
			</form>
		</div>
	</div>


	<mat-toolbar class="footer">
		<span>
			Get your own hybrid meeting:
			<a
				rel="noopener noreferrer"
				target="_blank"
				href="https://hybridmedia.fi"
			>
				Hybrid Media Oy
			</a>
			</span
		>
	</mat-toolbar>
</div>
